h1 {
    text-align: center;
}

body {
    margin-right: 5%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: black;
}

main {
    margin-left: 250px;
    margin-right: 10%;
    position: absolute;
    color: white;
}


#navbar 
.sidebar {
    background-color: aliceblue;
}

.vernav {
    position: absolute;
    padding-left: 1%;
    width: 98%;
    height: 30%;
}
.navbar {
    position: fixed;
    height: 100vh;
    width: 10%;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;;
}

.navtext {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-right: 1%;
    padding-top: 20%;
    transition: 100ms;
    width: 100%;
}

.navtext:hover {
    background-color: hsl(0, 0%, 25%)
}